spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ReBloom?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Seoul
    username: root
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: louter.uhd@gmail.com
    password: ${GMAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

jwt:
  secret: ${JWT_SECRET}
  expiration: 3600000

server:
  servlet:
    encoding:
      enabled: true
      charset: UTF-8
      force: true

  tomcat:
    relaxed-path-chars:
      - '['
      - ']'
      - '|'
      - '{'
      - '}'
      - '^'
      - '`'
      - '<'
      - '>'
      - '"'
      - "'"
    relaxed-query-chars:
      - '['
      - ']'
      - '|'
      - '{'
      - '}'
      - '^'
      - '`'
      - '<'
      - '>'
      - '"'
      - "'"
    uri-encoding: UTF-8